@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.OrganisationWizard.ConfirmationModel
@{
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
          Organisation has been successfully added.
      </h1>
    </div>

    <h2 class="govuk-heading-m govuk-!-margin-top-6">What happens next</h2>

    <p class="govuk-body">
        You can now create user accounts for the organisation you have just added.
    </p>
    <p class="govuk-body">You can do this from your homepage.</p>
    <a asp-page="/Manage/Homepage" class="govuk-button">Go to homepage</a>
    
</main>
