@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.OrganisationWizard.TypeOfOrganisationModel
@{
}

<a asp-page="/Manage/Homepage" class="govuk-back-link" data-testid="back-button">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    @if (Model.ValidationValid == false)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#" data-testid="enter-organisation-type-error">You must select an organisation type</a>
                    </li>
                </ul>
            </div>
        </div>
    }

    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-fieldset__heading">
                What do you want to add?
            </span>
        </legend>
        <form method="post" novalidate data-validate='my-form-validation'>
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">

                    @{
                        if (Model.ValidationValid == false)
                        {
                            <p class="govuk-error-message">
                                <span class="govuk-visually-hidden">Error:</span> Select the type of organisation you want to create
                            </p>
                        }
                    }

                    <div class="govuk-radios" data-module="govuk-radios">
                        @foreach(var item in Model.OrganisationTypes)
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="OrganisationTypeSelection" class="govuk-radios__input" type="radio" value="@Model.OrganisationTypes.First(x => x.Name == item.Name).Name" checked="@(string.IsNullOrEmpty(Model.OrganisationTypeSelection) && Model.OrganisationTypeSelection == item.Name)" />
                                <label class="govuk-label govuk-radios__label" for="OrganisationTypeSelection">
                                    @item.Description
                                </label>
                            </div>
                        }
                    </div>

                </fieldset>
            </div>

            <button class="govuk-button">
                Continue
            </button>
        </form>
    </fieldset>
</main>
