@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.OrganisationWizard.WhichLAOrAdminDistrictModel
@{
}

<a asp-page="/OrganisationWizard/TypeOfOrganisation" class="govuk-back-link" data-testid="back-button">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

    @if (Model.ValidationValid == false)
    {
        <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
                There is a problem
            </h2>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    <li>
                        <a href="#" data-testid="enter-organisation-type-error">You must select a local authority</a>
                    </li>
                </ul>
            </div>
        </div>
    }

     <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-fieldset__heading">
          Which local authority is the organisation in?
        </span>
      </legend>
      <form method="post" data-validate='my-form-validation'>
        
        @{
                if (Model.ValidationValid == false)
                {
                    <p class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span> Select a local authority
                    </p>
                }
           }

        <div class="govuk-form-group">
          <label class="govuk-label" for="OrganisationCode">
            <!---Select local authority--->
          </label>
          <select class="govuk-select" id="OrganisationCode" name="OrganisationCode" asp-for="OrganisationCode" asp-items="@Model.OrganisationSelectionList"></select>
        </div>

      <button class="govuk-button">
        Continue
      </button>
    </form>
    </fieldset>
</main>
