@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.MyAccount.ChangePasswordModel
@{
}

<a asp-page="/MyAccount/ViewPersonalDetails" class="govuk-back-link" data-testid="back-button">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <span class="govuk-fieldset__heading">
          Change your password
        </span>
      </legend>
      <form method="post" novalidate data-validate='my-form-validation'>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
            <div class="govuk-form-group">
                <label for="Input.OldPassword" class="govuk-label">Current password</label>
                <input type="password" asp-for="Input.OldPassword" class="govuk-input govuk-!-width-one-half" autocomplete="current-password">
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="govuk-form-group">
                <label for="Input.NewPassword" class="govuk-label">New password</label>
                <input type="password" asp-for="Input.NewPassword" class="govuk-input govuk-!-width-one-half" autocomplete="new-password">
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="govuk-form-group">
                <label for="Input.ConfirmPassword" class="govuk-label">Confirm new password</label>
                <input type="password" asp-for="Input.ConfirmPassword" class="govuk-input govuk-!-width-one-half" autocomplete="confirm-password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        <button type="submit" class="govuk-button">
          Continue
        </button>
      </form>
        <p><a asp-page="/MyAccount/ViewPersonalDetails">Cancel</a></p>
      <script type="application/json" id="my-form-validation">

        {
          "current-password": {
            "presence": {
              "message": "^Enter your current password"
            }
          },
          "new-password": {
            "presence": {
              "message": "^Enter a new password"
            }
          },
          "confirm-password": {
            "presence": {
              "message": "^Confirm your new password"
            },
            "equality": {
              "attribute": "new-password",
              "message": "^Passwords do not match"
            }
          }
        }
      </script>
    </fieldset>
</main>
