@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.MyAccount.ConfirmEmailChangedModel
@{
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
 <h1 class="govuk-heading-l">We have sent you a link to confirm your new email address</h1>
 <p>Click on the link in the email to confirm your new email address. Once you have confirmed, your new email address will be linked to your account.</p>
 <a class="govuk-button" asp-page="/MyAccount/ViewPersonalDetails">Go to homepage</a>
</main>
