@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.MyAccount.ConfirmPasswordChangedModel
@{
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <h1 class="govuk-heading-l">Your password has been changed</h1>
    <p>Your account password is now changed.</p>
    <a class="govuk-button" asp-page="/MyAccount/ViewPersonalDetails">Go to homepage</a>
</main>