@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.MyAccount.ConfirmNameChangedModel
@{
}

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <h1 class="govuk-heading-l">Your name has been changed</h1>
    <p>Your account name is now changed to John Doe.</p>
    <a class="govuk-button" asp-page="/MyAccount/ViewPersonalDetails">Go to homepage</a>
</main>
