@page
@model FamilyHub.IdentityServerHost.Areas.Gds.Pages.MyAccount.ViewPersonalDetailsModel
@{
}

<a asp-page="/Manage/Homepage" class="govuk-back-link" data-testid="back-button">Back</a>

<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-fieldset__heading">
          Manage your account
        </span>
      </legend>
      <table class="govuk-table govuk-!-margin-top-2">
        <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Name</th>
          <td class="govuk-table__cell">@Model.Username</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a asp-page="/MyAccount/ChangeName">Change</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Email address</th>
          <td class="govuk-table__cell">@Model.Email</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a asp-page="/MyAccount/ChangeEmail">Change</a></td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Password</th>
          <td class="govuk-table__cell">Change your current password</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a asp-page="/MyAccount/ChangePassword">Change</a></td>
        </tr>
        </tbody>
      </table>
    </fieldset>
</main>
